<div id="column_middle">
<div id="slideShow">
  <img src="/assets/banner_hauptbanner1.jpg" style="position:absolute;">
  <img src="/assets/banner_hauptbanner2.jpg" style="position:absolute;">
  <img src="/assets/banner_hauptbanner3.jpg" style="position:absolute;">
    <div class="next"></div>
    <div class="prev"></div>
</div>
</div> 
<!-- end middle -->
 <div id="index_main">
 <div class="box_index_angebot" style="margin-right:5px;"><a href="http://dufte-berliner.rakuten-shop.de/yackfou-c45477791"><%= image_tag("startseite_banner_l.jpg") %></a></div>
  <div class="box_index_angebot"><a href="http://dufte-berliner.rakuten-shop.de/almano-c45360471"><%= image_tag("startseite_banner_r.jpg") %></a></div>
<div class="clear"></div><div style="width:1px;height:6px;"></div>
 <div class="box_index_angebot" style="margin-right:5px;"><a href="http://dufte-berliner.rakuten-shop.de/core-tex-kreuzberg-c45222711"><%= image_tag("startseite_banner_l2.jpg") %></a></div>
  <div class="box_index_angebot"><a href="http://dufte-berliner.rakuten-shop.de/olze-und-wilkens-c45583161"><%= image_tag("startseite_banner_r2.jpg") %></a></div>
<div class="clear"></div>
 <div id="box_pl_i_2">
 <div style="width:1px;height:76px;"></div>
  <!-- {% loop products limit:4 %} 
  <a href="{i.link}"><div class="product_list_1" onclick="location.href='{i.link}';">
  <div class="box_product2" align="center" onclick="location.href='{i.link}';">{i.img}<div align="center" class="box_producttext" onclick="location.href='{i.link}';">{i.name}<div class="spacer" onclick="location.href='{i.link}';"></div><div class="spacer" onclick="location.href='{i.link}';"></div>
</div>
</div>
<div class="box_productbtn" align="center" onclick="location.href='{i.link}';">
<span class="price">{i.price|money}</span>{% if {i.ref_price} %}<br /><strike class="strike">{i.ref_price|money}</strike> <span class="small">({i.ref_price_type})</span>{% endif %}
      <form name="produktbtn" action="{i.link}" method="post" style="display:inline">
        <input class="btn_productlist" type="submit" value="" name="submit" />
      </form>
      </div>
      </div></a>
 {% endloop %} -->
 <div data-hook="homepage_products">
 <div class="product_list_1">
  
</div>
</div>
 </div>
 <div class="clear"></div>
<!-- blog bereich -->


<div class="tabs_holder" style="width:729px;float:left;margin-left: 7px;">
 <ul id="Navigation">
  <li class="tab_selected"><a href="#Willkommen">Willkommen</a></li>
  <li><a href="#UnsereHersteller">Unsere Hersteller</a></li>
 </ul>
 <div class="spacer_f"></div>
 <div class="content_holder" style="width:677px;float:left; color:#9d9c99;">
  <div id="Willkommen" align="justify">
  
  <h2>Kleidung, Taschen, Interieur und vieles mehr aus Berlin  - alles in einem Shop: Dufte-Berliner-Produkte.de</h2>
  <br /><br />
<p>Auf Dufte-Berliner-Produkte.de finden Sie zahlreiche Artikel aus Berliner Herstellung in verschiedenen Berlin Designs und Stilrichtungen. Sie suchen hochwertige <a href="/interieur-fruehstuecksbrettchen-c45583191">Schneidebrettchen</a> für das Frühstück mit Freunden, die passende <a href="/taschen-c45583146">Tasche</a> zum Fahrradfahren oder einfach nur ein stilvolles <a href="/kleidung-kleider-c45491851">Dress</a> für den Abend. In unserem Online-Shop gibt es für jeden Qualitätsliebhaber das richtige Produkt. Das Beste dabei – unser Sortiment erweitert sich stetig. Es wird niemals langweilig, bei Dufte Berliner Produkte zu stöbern – Immer wieder neue Designer, immer wieder neue Berliner Produkte. Sind Sie es nicht auch leid, langweilige und minderwertige Produkte aus China – geringe Haltbarkeit, keine Liebe zu Detail und Sie können sich damit auch nicht identifizieren? Dann geht es Ihnen genau wie uns!  Wir wollen fair behandelte Hersteller und Kunden. Manufakturen aus Berlin und Berliner Designer stehen für Qualität, Individualität und Liebe zu Ihrem Handwerk – das muss unterstützt werden!</p><br /><br />

<h2>Berlin zum Tragen – Kleidung, Taschen und Accessoires in unserem Berliner Shop</h2><br /><br />
<p>Berlin Design finden Sie bei Dufte Berliner Produkte in allen Variationen und für jeden Anlass. Das richtige Dress zum Essen mit den Eltern, den <a href="/kleidung-sweater-c45491861">Sweater</a> für kalten Wintertage, die <a href="/kleidung-shirts-c45477796">Shirts</a> für den Spaziergang im Park, die richtige Tasche für den Einkaufsbummel,  den Schal als sommerliches Modeaccessoire – egal für welchen Anlass, unser Online-Shop hat eine liebevoll zusammengesuchte Auswahl an Artikeln aus unserer Hauptstadt. Ob nun für die Dame oder den Herr – hier finden Sie für jeden das richtige Produkt aus Berlin.</p><br /><br />

<h2>Eine große Auswahl an Postern, Wandstickern und Co. bei Dufte-Berliner-Produkte.de</h2><br /><br />
<p>Sie haben schon die richtige Kleidung gefunden und wünschen sich noch mehr Individualität für Ihr Leben? Wir haben eine tolle Auswahl an <a href="/grafik-poster-c45491856">Postern</a>, <a hrf="/grafik-leinwaende-c45583201">Leinwänden</a> & Co. So peppen Sie Ihre Wohnung mit einer gehörigen Portion Berlin Design auf. Langweilige Zimmer, Wände oder Büros passen nicht in unser Konzept und hoffentlich auch nicht in Ihres. Wir bieten für jede Alltagssituation hochwertige Produkte made in Berlin.</p><br /><br />

<h2>Doch damit nicht genug – Es gibt natürlich noch viel mehr zu entdecken</h2><br /><br />
<p>Wir sind stets und ständig auf der Suche nach neuen edlen und hochwertigen Produkten in Berlin Design. So finden Sie bei uns stets und ständig neue Kategorien, denn unsere Hauptstadt schläft genau so wenig, wie wir! Von kleineren Erfindungen, bis hin zum einfachen <a href="/grafik-buttons-c45583226">Button</a>, finden Sie in unserem Online Shop allerlei zu entdecken. Wir wollen Ihnen immer Neuheiten präsentieren und bieten – Ihnen soll schließlich niemals langweilig werden. </p><br /><br />

<h2>Mehr über Dufte Berliner Produkte und unser Produktsortiment aus Berlin</h2><br /><br />
<p>Wenn Ihnen unsere Auswahl an Berliner Produkten nicht genug ist, dann folgen Sie uns doch einfach auf Facebook, Twitter, Pinterest oder Google+.  Wir informieren Sie dort immer über neue Trends Angebote, Wettbewerbe und vieles mehr. Auch auf unserem Blog werden Sie regelmäßig über allerlei Wissenswertes informiert. Wir freuen uns natürlich auch über Anregungen, Ideen und konstruktive Kritik. Hochwertig – Individuell – Berlin!</p>



  
  </div> <!-- Willkommen -->
  
  <div id="UnsereHersteller" align="justify">
  <h2>Unsere Hersteller</h2>
  <br /><br />
  <p>Bei Dufte Berliner Produkte ist der Name das Programm. Wir haben in unserem Sortiment nur Berliner Produkte von duften Berliner Herstellern. Das Motto unseres Berliner Shops spiegelt sich besonders in dem regionalen Bezug und die Qualität unserer angebotenen Artikel wieder. In unserem Online Shop finden Sie Produkte vom erfolgreichen kleinen Modelabel aus Berlin bis hin zur kleinen Berliner Kugelschreibermanufaktur, welche bisher nur in ihrem Ladengeschäft verkauft haben. Egal wie groß oder klein unsere Berliner Produzenten sind, sie alle haben die die Liebe zum Handwerk gemeinsam. Dufte Berliner Produkte liegt diese Liebe am Herzen. Wir wollen uns von lieblosen Massenproduktionen differenzieren, wir wollen Individualität, wir wollen Details. Diese Ansprüche vertreten unsere Hersteller, genau wie wir. Hinter jedem einzelnen Produkt und auch Hersteller steckt eine Geschichte, welche nicht beginnt mit: „Es war einmal eine große Fabrik in China“. </p><br />
<p>Sie sind an einem bestimmten Produkt interessiert und wollen gern wissen, welcher Hersteller und welche Geschichte dahinter steckt? Sie können bei jedem einzelnen Produkt diese Informationen aufrufen und darüber nachlesen. Das gehört zu dem Konzept unseres Berliner Shops. Wir müssen unsere Hersteller nicht verstecken, da es sich bei uns nicht um minderwertige Arbeit aus Billiglohnländern handelt. Berlin Design steht für Qualität und die Auswahl hochwertiger Materialien,  das können wir mit besten Wissen und Gewissen vertreten. Stöbern Sie in unserem Online Shop und lassen Sie sich durch die Auswahl an einzigartigen Berliner Produkten überzeugen!</p>
 </div> <!-- Hersteller -->
  
 
  
  </div>
  
  </div>


</div>

   <div class="clear"></div>
 
   <div class="clear"></div>
 
<div style="height:30px;"></div>
<script type="text/javascript">
  $('.tabs_holder').skinableTabs();
</script>